@model UniversityCourseandresultManagementSystem.Models.Course
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save Course</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />


    <style>
        .input-validation-error {
            border: 1px solid red;
        }

        .field-validation-error {
            color: red;
        }

        .container {
            padding: 30px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body id="page-top">

    <nav class="navbar navbar-dark bg-dark">
        <i class="fas fa-book-open" style="color: white"></i>
        <h5 style="color: white">Save Course</h5>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-building"></i>
                    <span>Department</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveDepartment", "Department")">
                        <i class="fa fa-building"></i>
                        Save Department
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewDepartment", "Department")">
                        <i class="fas fa-vote-yea"></i>
                        View Department
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Student</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveStudent", "Student")">
                        <i class="fas fa-chalkboard-teacher"></i>
                        Register Student
                    </a>
                    <a class="dropdown-item" href="@Url.Action("StudentEnrollInCourse", "Student")">
                        <i class="fas fa-users-cog"></i>
                        Enroll In a Course
                    </a>
                    <a class="dropdown-item" href="@Url.Action("SaveStudentResult", "Student")">
                        <i class="fa fa-download"></i>
                        Save Student Result
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewStudentResult", "Student")">
                        <i class="fas fa-poll-h"></i>
                        View Result
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-graduate"></i>
                    <span>Teacher</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveTeacher", "Teacher")">
                        <i class="fas fa-user-graduate"></i>
                        Save Teacher
                    </a>
                    <a class="dropdown-item" href="@Url.Action("CourseAssignToTeacher", "Teacher")">
                        <i class="fas fa-user-tag"></i>
                        Assign Course
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-book-open"></i>
                    <span>Course</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveCourse", "Course")">
                        <i class="fas fa-book-open"></i>
                        Save Course
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewCourseStatics", "Course")">
                        <i class="fas fa-sliders-h"></i>
                        View Course Statics
                    </a>
                    <a class="dropdown-item" href="@Url.Action("UnassignCourse", "Course")">
                        <i class="fas fa-user-times"></i>
                        Unassign Courses
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <span>Classroom</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("AllocateRoom", "ClassRoom")">
                        <i class="fas fa-lock"></i>
                        Allocate Classroom
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewClassRoutine", "ClassRoom")">
                        <i class="fas fa-calendar-alt"></i>
                        View Class Schedule
                    </a>
                    <a class="dropdown-item" href="@Url.Action("UnallocateClassRooms", "ClassRoom")">
                        <i class="fas fa-unlock"></i>
                        Unallocate Classroom
                    </a>
                </div>
            </li>
        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="form-group row">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-group" }))
                            {
                                <table>
                                    <tr>
                                        <td>@Html.LabelFor(x => x.CourseCode, new { @class = "col-form-label" })</td>
                                        <td>
                                            @Html.TextBoxFor(x => x.CourseCode, new { @class = "form-control", @placeholder="Enter Course's Code" })
                                            <span>@Html.ValidationMessageFor(x => x.CourseCode)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(x => x.CourseName, new { @class = "col-form-label" })</td>
                                        <td>
                                            @Html.TextBoxFor(x => x.CourseName, new { @class = "form-control", @placeholder = "Enter Course's Name" })
                                            <span>@Html.ValidationMessageFor(x => x.CourseName)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(x => x.CourseCredit, new { @class = "col-form-label" })</td>
                                        <td>
                                            @Html.TextBoxFor(x => x.CourseCredit, new { @class = "form-control", @placeholder = "Enter Course's Credit Hour" })
                                            <span>@Html.ValidationMessageFor(x => x.CourseCredit)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(x => x.CourseDescription, new { @class = "col-form-label" })</td>
                                        <td>
                                            @Html.TextAreaFor(x => x.CourseDescription, new { @class = "form-control", @placeholder = "Enter Course Description" })
                                            <span>@Html.ValidationMessageFor(x => x.CourseDescription)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(x => x.DepartmentId, new { @class = "col-form-label" })</td>
                                        <td>
                                            @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"), new { @class = "form-control" })
                                            <span>@Html.ValidationMessageFor(x => x.DepartmentId)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(x => x.SemesterId, new { @class = "col-form-label" })</td>
                                        <td>
                                            @Html.DropDownListFor(x => x.SemesterId, new SelectList(ViewBag.Semesters, "Value", "Text"), new { @class = "form-control" })
                                            <span>@Html.ValidationMessageFor(x => x.SemesterId)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right"><input type="submit" value="Save" class="btn btn-primary" /></td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        if (ViewBag.Message == "Course Information Saved Successfully")
                        {
                            <div class="alert alert-success" role="alert">
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Message
                            </div>
                        }
                    }
                </div>
            </div>


            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © The Avengers @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="~/Scripts/Jquery3.2.1/jquery-3.2.1.js"></script>
    <script src="~/Scripts/Jquery3.2.1/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery3.2.1/jquery.validate.unobtrusive.js"></script>

    <!-- Bootstrap core JavaScript-->

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin.js"></script>
</body>
</html>
