@{
    ViewBag.Title = "Save Student Result";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Student Result</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />


    <style>
        .input-validation-error {
            border: 1px solid red;
        }

        .field-validation-error {
            color: red;
        }

        .container {
            padding: 30px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }

        .resultTable {
            border-collapse: collapse;
            width: 100%;
        }

            .resultTable td {
                border: 0.5px solid #ddd;
                padding: 8px;
            }

            .resultTable tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .resultTable tr:hover {
                background-color: #ddd;
            }

            .resultTable th {
                padding-top: 12px;
                padding-bottom: 12px;
                border: 0.5px solid #ddd;
                text-align: center;
                background-color: #4CAF50;
                color: white;
            }
    </style>
</head>
<body id="page-top">

    <nav class="navbar navbar-dark bg-dark">
        <i class="fas fa-poll-h" style="color: white"></i>
        <h5 style="color: white">View Student Result</h5>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-building"></i>
                    <span>Department</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveDepartment", "Department")">
                        <i class="fa fa-building"></i>
                        Save Department
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewDepartment", "Department")">
                        <i class="fas fa-vote-yea"></i>
                        View Department
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Student</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveStudent", "Student")">
                        <i class="fas fa-chalkboard-teacher"></i>
                        Register Student
                    </a>
                    <a class="dropdown-item" href="@Url.Action("StudentEnrollInCourse", "Student")">
                        <i class="fas fa-users-cog"></i>
                        Enroll In a Course
                    </a>
                    <a class="dropdown-item" href="@Url.Action("SaveStudentResult", "Student")">
                        <i class="fa fa-download"></i>
                        Save Student Result
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewStudentResult", "Student")">
                        <i class="fas fa-poll-h"></i>
                        View Result
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-graduate"></i>
                    <span>Teacher</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveTeacher", "Teacher")">
                        <i class="fas fa-user-graduate"></i>
                        Save Teacher
                    </a>
                    <a class="dropdown-item" href="@Url.Action("CourseAssignToTeacher", "Teacher")">
                        <i class="fas fa-user-tag"></i>
                        Assign Course
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-book-open"></i>
                    <span>Course</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("SaveCourse", "Course")">
                        <i class="fas fa-book-open"></i>
                        Save Course
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewCourseStatics", "Course")">
                        <i class="fas fa-sliders-h"></i>
                        View Course Statics
                    </a>
                    <a class="dropdown-item" href="@Url.Action("UnassignCourse", "Course")">
                        <i class="fas fa-user-times"></i>
                        Unassign Courses
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <span>Classroom</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="position: absolute; top: 0px; left: 0px; transform: translate3d(5px, 63px, 0px);">
                    <a class="dropdown-item" href="@Url.Action("AllocateRoom", "ClassRoom")">
                        <i class="fas fa-lock"></i>
                        Allocate Classroom
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ViewClassRoutine", "ClassRoom")">
                        <i class="fas fa-calendar-alt"></i>
                        View Class Schedule
                    </a>
                    <a class="dropdown-item" href="@Url.Action("UnallocateClassRooms", "ClassRoom")">
                        <i class="fas fa-unlock"></i>
                        Unallocate Classroom
                    </a>
                </div>
            </li>
        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="form-group row">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-group", @id = "resultForm" }))
                            {
                                <table>
                                    <tr>
                                        <td>Student Reg. No.</td>
                                        <td>
                                            @Html.DropDownList("StudentId", new SelectList(ViewBag.StudentsRegNo, "Value", "Text"), new { @class = "form-control" })
                                            <span>@Html.ValidationMessage("StudentId")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Name</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" readonly="readonly" name="StudentName" id="StudentName" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Email</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" readonly="readonly" name="Email" id="Email" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Department</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" readonly="readonly" name="Department" id="Department" />
                                        </td>
                                    </tr>


                                </table>
                                <br />
                                <table id="resultTable" class="resultTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%">Course Code</th>
                                            <th style="width: 35%">Name</th>
                                            <th style="width: 50%">Grade</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableBody"></tbody>
                                </table>

                            }
                        </div>
                    </div>


                </div>
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © The Avengers @DateTime.Now.Year</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/sb-admin.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.js"></script>
    <script src="~/Scripts/DataTables/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables/vfs_fonts.js"></script>
    <script type="text/javascript">
        var table = $('#resultTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $(document).ready(function () {
            //$("#btnRunReport").click(function () {
            //    $('#resultForm').attr('action', "/Student/JSFUN").submit();
            //});

            $("#StudentId").change(function () {
                var studentId = $("#StudentId").val();
                $("#Email").val("");
                $("#Name").val("");
                $("#Department").val("");
                $("#CourseId").empty();
                $("#CourseId").append('<option value= "">---Select Course---</option>');

                var json = {
                    studentId: studentId
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentByStudentId", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $("#Email").val(data.StudentEmail);
                        $("#StudentName").val(data.StudentName);
                        $("#Department").val(data.DepartmentName);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllResultByStudentId", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $("#resultTable").show();
                        table.clear().draw(false);
                        $.each(data, function (key, value) {
                            table.row.add([
                                    value.CourseCode, value.CourseName, value.Grade]
                            ).draw(false);
                        });
                    }
                });

            });

        });

    </script>
</body>
</html>